*{

}

body {
  background-color: #f0f0f0;
}

h1 {
    border-bottom: 5px solid black;
    text-align: center;
    background-color: rgb(148, 138, 149);
}

img {
  
}

ul {

}

li {

}

p {
  
}

#header {
  
}

#content{
  
}

#text {

}

#text p {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-indent: 40px;
    width: 90%;
    margin-bottom: 10px;
    padding: 15px;
    border: 4px dashed black;
}

#text p:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url(fondoParrafo.png);
    background-repeat: repeat;
}

#text p:nth-child(2) {
    background-color: rgb(148, 138, 149);
}

#text p:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(148, 138, 149);
}

#menu {
    text-align: center;
}

#menu a{

}


#menu li{
    border-left: 5px solid red;
    padding-left: 10px;
    list-style: none;
    display: inline-block;
}

#menu li a:hover{
    text-decoration: underline;
    color: red;
}

#footer{
    border-top: 5px solid black;
    clear: both;
    background-color: rgb(98, 8, 144);
    color: white;
    text-align: center;
}

#footer a{

}

#footer a:hover{

}

#image {
    float: auto;
    margin-right: 60px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    max-width: 32%;
}

@media all and (max-width: 500px) {

}
